
.logo {
  display: block;
  max-width: 450px;

  img {
    display: block;
    max-width: 100%;
    border: 0;
  }
}

.date {
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
  margin: 1.5em 0;

  @media only screen and (max-width: $breakpoint-medium) {
    position: absolute;
    margin: 0;
    font-size: 1em;
    opacity: .75;
    bottom: 2em;
    left: 3em;
  }

  @media only screen and (max-width: $breakpoint-small) {
    bottom: 1.5em;
    left: 2em;
  }
}