%h1 About TEDx Brisbane

%p This year's TEDxBrisbane is a full day event concluding with drinks in the evening from 5.30 to 7.30pm. Lunch will be served in the <em>Ideas Worth Spreading</em> tent.

%p As with previous years, TEDxBrisbane fills the State Library with an eclectic mix of thinkers, dreamers and doers for a full day of inspiration and adventure.

%p Tickets for the event are #{adult_price} for adults and #{student_price} for students/concession.  Whilst we would love to have everyone along, our venue can only fit so many and there are a lot more applications than tickets, so we are sorry in advance if we can't offer you a spot.


= render "pages/submission_form", attendee: @attendee

