.clearfix{ id: "attendee-statistics", data: {channel: "attendee-statistics"} }

-# %iframe{src: 'http://www.bigsky.io/maps/28', frameborder: '0', width: '100%', height: '480px'}

= render "pages/submission_form", attendee: @attendee

