
$flash-bg-color: lighten($black, 15%);

.flash {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  margin-top: -1.75em;
  margin-left: -25%;
  font-size: 1.25em;
  text-align: center;
  line-height: 1.5em;
  padding: 1em;
  background: $flash-bg-color;
  background: rgba($flash-bg-color, .9);
  z-index: 10;
  @include border-radius(5px);
  @include box-sizing(border-box);
  -webkit-animation: fade-out-after-delay 5s 1 forwards;
  -moz-animation:    fade-out-after-delay 5s 1 forwards;
  -o-animation:      fade-out-after-delay 5s 1 forwards;
  animation:         fade-out-after-delay 5s 1 forwards;

  &:hover {
    cursor: pointer;
    opacity: .75;
  }

}

@-webkit-keyframes fade-out-after-delay {
    0% { opacity: 1; }
   85% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes fade-out-after-delay {
    0% { opacity: 1; }
   85% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fade-out-after-delay {
    0% { opacity: 1; }
   85% { opacity: 1; }
  100% { opacity: 0; }
}