
// Defining "object/model/thing"

%label {
  display: block;
  font-size: .75em;
  font-weight: 600;
  text-transform: uppercase;
}

%input {
  display: block;
  width: 100%;
  padding: 0 .25em;
  height: $padding;
  line-height: $padding;
  background: whitesmoke;
  border: 0;
  border-bottom: 2px solid #ddd;
  @include box-sizing(border-box);

  &:focus {
    outline: 0;
    background: $white;
    border-bottom-color: #bbb;
  }
}

%buttons {
  margin: 1.5em 0 0;
  padding: 1.5em 0 0;
  border-top: 2px dotted #ddd;

  li { margin: 0; }
}

// Instantiating & extending "objects/models/things"


form {
  li {
    margin: 0 0 1em;
  }
}

input, textarea, select { font-size: $font-size; }

input[type='text'], input[type='email'], textarea {
  @extend %input;
}

label, dt {
  @extend %label;
}

label.error {
  background: mix(white, $color-primary);
  color: white;
  padding: .25em .75em;
  font-size: .65em;
}

legend {
  color: #888;
  font-weight: 700;
  margin: 0 0 1em;
}

#buttons {
  @extend %buttons;

  input, a { margin-right: .5em; }
}

