
// Typography

$font-size: 100%;
$line-height: 1.5em;
$font-family: 'Helvetica Neue', Helvetica, sans-serif;

// Colours

$white: white;
$black: black;
$red: #FF2B06;

$background-color: $red;
$color: $white;
$color-primary: $red;

// Dimensions

$padding: 2em;

// Breakpoints

$breakpoint-large:  1500px;
$breakpoint-medium: 1000px;
$breakpoint-small:   500px;
