= email_divider

%p{style: 'color: #444;'} This year's TEDxBrisbane is a full day event concluding with drinks in the evening from 5.30 to 7.30pm. Lunch will be served in the <em>Ideas Worth Spreading</em> tent.

%p{style: 'color: #444;'} As with previous years, TEDxBrisbane fills the State Library with an eclectic mix of thinkers, dreamers and doers for a full day of inspiration and adventure.

= email_divider
