%strong{style: 'font-size: 1.5em;'}= "We'll see you there."

%p Thanks for confirming your attendance at TEDxBrisbane #{Event.date.year}.  We're pretty excited that we're going to be seeing you soon.

= render 'emails/email_footer'
