%p
  Thanks for letting us know that you won't be able to attend TEDxBrisbane
  = Event.date.year
  \. We're sorry you can't make it, but we're sure to see you around the traps.

= render 'emails/email_footer'
