%p Hi #{attendee.first_name},

%p We are so sorry.

%p We are unable to offer you a place at this year's event due to space limitations at the venue.

%p
  We do so wish you could join us but you will be able to watch the live stream on the day, details will be made available on our
  Facebook page www.tedxbrisbane.com/tedxbrisbane.

%p We've also placed you on the waiting list and if a ticket becomes available, we will check in again and see if you are still keen to come along.
