%p Hi #{attendee.first_name},

%p We are so sorry.

%p We are unable to offer you a place at this year's event due to space limitations at the venue.

%p We've placed you on the waiting list and if a ticket becomes available, we will check in again and see if you are still keen to come along.
