
= link_to image_tag('logo.png'), "http://www.tedxbrisbane.com/home", class: 'logo', title: 'TEDxBrisbane'

%label#date.date{ data: { date: '2013-09-13' } } 21 &middot; 09 &middot; 13 @ SLQ


= link_to image_tag('map.png'), 'http://a.tiles.mapbox.com/v3/netengine.map-vfsy08ln.html#17.00/-27.47090/153.01807', class: 'map', target: "_blank"
